@use '../util' as u;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-color: var(--background-color);
    // width: 80vw;
    // max-width: 1000px;
    width: min(100% - u.rem(60), 1000px);
    margin-inline: auto;
    gap: u.rem(10);

    @include u.breakpoint(medium) {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr auto;
        padding: 1.25rem;
    }




    &__main {
        padding-inline: u.rem(30);

        @include u.breakpoint(medium) {
            padding-inline: u.rem(20);
        }
    }


    // &__aside,
    &__header,
    &__footer {
        padding: u.rem(30);

        @include u.breakpoint(medium) {
            padding: u.rem(20);
        }
    }

    &__header {
        background-color: var(--background-color);

        //layout purpose
        // width: calc(100% - u.rem(40));

        width: min(100% - u.rem(60), 1000px);


        margin-inline: auto;
        // display: grid;
        // grid-template-columns: 1fr;
    }

    // &__main {
    //     background-color: rgba(0, 0, 64, 0.1);
    // }

    &__aside {
        // background-color: rgba(1, 187, 14, 0.1);
        // border: 2px solid rgb(190, 190, 190);
        border: 2px solid hsla(0, 0%, 100%, 1);
        background-color: hsla(0, 0%, 100%, 1);

        @include u.breakpoint-down(small) {
            text-align: center;
        }
    }

    &__widget {
        padding: u.rem(18);

        &.green {
            // @extend .grid__widget;
            // padding: u.rem(8);
            background-color: hsl(0, 0%, 100%, 0);
        }

        &.violet {
            // @extend .grid__widget;
            // padding: u.rem(8);
            background-color: hsl(0, 0%, 100%, 0);
        }
    }




    &__footer {
        background-color: var(--background-color);

        //layout purpose
        width: min(100% - u.rem(60), 1000px);
        margin-inline: auto;
    }
}