@use '../util' as u;

.gridArticle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-color: var(--background-color);
    width: min(100% - u.rem(0), 1000px);
    margin-inline: auto;
    gap: u.rem(10);

    @include u.breakpoint(medium) {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr auto;
        padding: 1.25rem;
    }

    &__main {
        padding: u.rem(1);
        background-color: u.$theme-bgcolor-main;

        @include u.breakpoint(medium) {
            padding: u.rem(2);
        }

    }

    &__content {
        padding-inline: u.rem(20);

        @include u.breakpoint(medium) {
            max-width: u.$max-width-content-desk;
            margin-inline: auto;
        }

    }

    &__section-head,
    &__section-footer {
        background: u.$theme-bgcolor-section-article;
    }

    &__section-head {

        h4,
        ul,
        li {
            line-height: u.$line-height-article-p !important;
        }

        ul {
            display: flex;
            justify-content: space-between;
        }
    }

    &__section-main {
        background: u.$theme-bgcolor-section-article;
        margin-top: 2rem;

        @include u.breakpoint(medium) {
            margin-top: 3rem;

        }
    }

    &__section-footer {
        position: relative;
        min-height: 150px;

        @include u.breakpoint(medium) {
            min-height: 75px;

        }

        h4,
        ul,
        li {
            line-height: u.$line-height-article-p !important;
        }

        ul {
            display: flex;
            position: absolute;
            bottom: 0;
            flex-direction: column;

            @include u.breakpoint(medium) {
                flex-direction: row;

            }

            li:before,
            li:after {
                content: "/";
            }
        }
    }

}