footer {

    h1,
    h2,
    h3,
    h4,
    p {
        padding-left: 10px;
    }

    h2 {
        margin-top: 2.5rem;
    }

    h4 {
        line-height: 2em;
    }

    .copyright p {
        font-size: .75em;
        // text-transform: uppercase;
        max-width: none;

        a {
            text-decoration: underline;
        }
    }
}