$body-bgcolor: hsl(0, 0%, 93%);

$body-color: hsl(0, 0%, 40%);
$body-color-a: hsla(216, 100%, 66%, 0.805);

$theme-header-nav-bg: hsl(0, 0%, 90%);
$theme-header-nav-a: hsla(216, 100%, 66%, 0.805);
$theme-header-nav-ahover: hsla(216, 100%, 66%, 0.605);

$theme-a: hsla(216, 100%, 66%,
                0.805);
$theme-ahover: hsla(216, 100%, 66%, 0.605);


$theme-bgcolor-body: hsl(0, 0%, 98%);

$theme-bgcolor-main: hsl(0, 0%, 98%);

$theme-title-color: hsl(0, 0%, 35%);
$theme-color-content: hsl(0, 0%, 45%);
$theme-bgcolor-section-article: hsl(0, 0%, 98%);

$theme-copyright-color: hsl(0, 0%, 50%);
$theme-copyright-a: hsl(0, 0%, 40%);
$theme-copyright-bg-color: hsl(45, 100%, 50%);