tr,
td,
table {
    margin: 0;
    padding: 0;
    text-align: center;
    color: hsl(0, 0%, 60%);
}

th,
td:first-of-type {
    background-color: hsl(0, 0%, 90%);
}

td {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 50%);

}

td,
th,
td {
    padding: 2px 4px;
    /* font-size: 6px; */
}

tr,
table {
    background-color: hsl(0, 0%, 85%);

}

/* body table td,
                        body table tr {
                            font-size: 0.5em;
                            line-height: 1;
                        } */

.code {
    padding: 3px;
    background-color: hsla(0, 0%, 0%, 0.015);
    border: 1px solid rgba(0, 0, 0, 0.061);
    overflow-y: auto;
}

span.error {
    color: red;
}

:target {
    border: 2px solid rgba(82, 151, 255, .605);
    background-color: rgba(82, 151, 255, .2605);
    margin-left: -8px;
    padding-left: 8px;
    color: rgba(20, 38, 64, 1);

}