    @use '../util' as u;

    header,
    main,
    footer {

        h1,
        h2,
        h3 {
            font-weight: 700;
            line-height: u.$line-height-article-h;
            margin: 0;
        }

        h1 {
            font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));

            @include u.breakpoint(medium) {
                font-size: 36px;
            }

            @include u.breakpoint(large) {
                font-size: 42px;
            }
        }

        h2 {
            font-size: clamp(u.rem(18), u.rem(12) + 2vw, u.rem(28));

        }

        h3 {
            font-size: clamp(u.rem(12), u.rem(18) + 2vw, u.rem(22));
        }

        h2+h3 {
            margin-top: 0 !important;
        }

        p,
        blockquote {
            font-size: u.rem(22);
            line-height: u.$line-height-article-p;
            max-width: u.$max-width-content-desk-p;
        }

        ul,
        li,
        p,
        blockquote {
            margin: 0;
            padding: 0;
            line-height: u.$line-height-article-p;
        }

        ul {
            list-style-position: inside;
        }

        a,
        a:visited,
        a:active {
            text-decoration: none;

        }
    }

    aside {

        h3 {
            font-weight: 700;
            line-height: u.$line-height-article-h;
            margin: 0;
        }

        ul,
        li,
        p {
            margin: 0;
            padding: 0;
            line-height: u.$line-height-article-p;
        }

        a,
        a:visited,
        a:active {
            text-decoration: none;

        }
    }